@charset "utf-8";

body, html {
	margin: 0;
	padding: 0;
	height:100%;
	background-color: #eeeeee;
}

body{
	font-family:'Roboto', sans-serif;
	color:#666;
	font-size:12px;
	line-height:20px;
	background-color: #eeeeee;
}

.content{
	margin-left:16px;
	margin-right:16px;
}

.page-content{
	background-color:#FFFFFF;
	z-index:10;
	display:block;
	height:100% !important;
}

.content-tabela-detalhes{
	background-color:#efefef;
	padding:0px;
	margin:0px 0px 20px 0px;
	width:100%;
}

.container-tabela-detalhes{
	margin:0px;
	padding:0px
}

.no-bottom{
	margin-bottom:0px;
}


/*/////////////*/
/*Table Styling*/
/*/////////////*/

.table{
	width:100%;
	clear: both;
	padding:10px 0;
	font-size:12px;
}

.table-sub-title{
	font-weight:bold;
	font-size:14px;
}

.table tr{
	text-align: left;
	padding-left:20px;
	line-height: 18px;
}

.table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}

.table tr td {
	padding:14px;
	text-align: left;
	color: #666;
	line-height: 18px;
	vertical-align: top;
}

.table tr:last-child td{
	border-bottom:0;
}

.button{
	text-align:center;
	color:#FFFFFF;
	padding:8px 13px;
	display:inline-block;	
	margin-bottom:2px;
	margin-left:2px;
}

.button:hover{
	opacity:0.8;
}

.button-dark{				background-color:#2c3e50;	}
.button-dark:active{		 background-color:#0b1621;	}

.table tr td:last-child{
	-ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
	-webkit-hyphens: auto;
 	-moz-hyphens: auto;
	hyphens: auto;
}
